.menuItem{
   
        width:100%;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-color: #D1715E;
       
    
}
p , h3 , h2{
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.title{
    margin-top: 2em;
    text-decoration: underline;
}

h2{
    text-decoration: underline; 
}